@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&family=Montserrat:wght@500&display=swap');


/*      font-family: 'Heebo', sans-serif;

    font-family: 'Montserrat', sans-serif;

 */

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url(./assets/images/background.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.fake-footer{
  color: #ffffff;
  font-family: 'Heebo', sans-serif
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  width: 800px;
  height: 400px;
  background-image: url(./assets/images/login_background.jpg);
  background-size: cover;
  background-position: center;
  color: #000000;
  border-radius: 70px;
}

.App-link {
  color: #61dafb;
}

.login-form{
  display: flex;
  width: 400px;
  height: 400px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff9d;
  border-radius: 0px 70px 70px 0px;
  font-family: 'Montserrat', sans-serif;
}

.login-title{
  display: flex;
  width: 400px;
  height: 400px;
  border-radius: 70px 0px 0px 70px;
}


.login-button{
  margin: 10px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  font-size: 18px;
} 

.login-field{
  margin: 5px;
  background-color: #a5eafd;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.login-text{
  font-weight: 600;
  font-family: 'Heebo', sans-serif;
}

.login-icon{
  margin-bottom: 35px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
